
/* #core-concepts{
   
    padding:20px;
    border-radius:2px;
    background-color: rgb(88, 119, 141);
    box-shadow: 0 1px 1px rgba(red, green, blue, alpha);
    box-sizing: border-box;
} */

/* Breakpoint for small screens (xs) */

.core-concepts{
    width: 450px;
    height: 505px;
    background-color: rgb(2, 15, 20);
    border-top: 4px solid #02101e;
    border-right:4px solid #021a32 ;
    border-left: 4px solid #021528;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform:translateY(2%);
    transition: all 0.6s ease-out;




    animation-name: MoveAnim;
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
animation-iteration-count: 1;
animation-duration: 1s;
animation-fill-mode:inherit;
animation-direction:normal;

    
}



  .core-concepts:hover
   {
    transform: scale(1.1, 1.1);
    
  }













@keyframes MoveAnim {
0%{
    opacity:0;
transform: translateY(34%);

}
100%{
    opacity:1;
   
    transform:translateY(2%);
}

}
.core-concepts   img{
    height: 326px;
  object-fit: cover;
 
  
 
   
   }


    #core-concepts Link :hover p {
   font-size: 16.5px;
    transition:1s;

   }
   
    #core-concepts Link :hover h1{
   font-size: 30px;
    transition:1s;

   }


   
   

   #core-concepts Link  h1{
  margin:0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(213, 213, 213)
   }

   #core-concepts Link  p{
    margin:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color:rgb(213, 213, 213);
        
      
     }

     .btngo{
      
        font-size: 20px;
        background: #CA0000;
        color: white;
        border: none;
      
      
       
       
    }
    .btn2{
        font-size: 20px;
      
        transition:1s;
        background: #07C5AB;
        color: white;
        border: none;
       
       
        
    }
   
   
   
   
    
   



    @media (max-width: 600px) {
        .core-concepts {
            width: 140px;
            height: 240px;
            padding-bottom: 20px;
        }
    }
    
    /* Breakpoint for large screens (lg) */
    @media (min-width: 1280px) {
        .core-concepts {
            width: 350px;
            height: 480px;
        }
    }




    /* Breakpoint for small screens (xs) */
@media (max-width: 600px) {
    .btngo,
    .btn2 {
        font-size: 9px;
        padding: 0px 5px 0px 5px;
        
    }
}

/* Breakpoint for large screens (lg) */
@media (min-width: 1280px) {
    .btngo,
    .btn2 {
        text-wrap: nowrap;
        font-size: 24px;
         padding: 0px 5px 0px 5px;
       
      
    }
}